*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


#header{
    background: linear-gradient(0deg, rgba(1, 0, 14, 0.9) 30%, rgba(0, 0, 0, 0.2) 100%), url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 20% center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.header-title{
    font-size: 45px;
    margin-bottom: 30px;
}
.header-brief{
    line-height: 28px;
    margin-bottom: 40px;
    color: rgb(226, 225, 225);
    word-spacing: 1px;
}
.donate-btn{
    text-decoration: none;
    background-color: rgb(250, 152, 4);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}


#donate-amount{
    text-align: center;
    margin: 100px 0;
}
.content-title{
    font-size: 45px;
    color: rgb(59, 59, 59);
    margin-bottom: 30px;
}
.content-brief{
    color: rgb(116, 114, 114);
    width: 60%;
    margin: 0 auto 50px auto;
    font-weight: 700;
    line-height: 28px;
}
.amount-chart{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.amount{
    background-color: rgb(255, 232, 197);
    color: rgb(252, 195, 111);
    margin: 0 10px;
    width: 150px;
    line-height: 130px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
}
.selected{
    background-color: rgb(255, 232, 197);
    border: 3px solid rgb(250, 152, 4);
    color: rgb(250, 152, 4);
}
input[type=number]{
    border: 0;
    outline: none;
    border-bottom: 1px solid rgb(190, 189, 189);
    width: 80%;
    margin-bottom: 40px;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    color: rgb(116, 114, 114);
}
input::placeholder{
    color: rgb(205, 205, 206);
}