*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}


#header{
    background: linear-gradient(0deg, rgba(1, 0, 14, 0.9) 30%, rgba(0, 0, 0, 0.2) 100%), url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 20% center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.header-title{
    font-size: 50px;
    margin-bottom: 30px;
}
.header-brief{
    line-height: 28px;
    margin-bottom: 40px;
    color: rgb(226, 225, 225);
}
.donate-btn{
    text-decoration: none;
    background-color: rgb(250, 4, 66);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}